body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
  background: rgba(0, 128, 0, 0.28);
  background-size: cover;
  font-weight: bold;
  color: white;
  text-align: center;
}
samp{
  color: orange;
}
#bod-main-div{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
h4{
  margin-right: auto;
  margin-left: auto;
  font-weight: bold;
}
